* {
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: Gotham Rounded;
/*	src: url('/custom-fonts/Gotham-Rounded-Bold.otf');*/
	src: url('/custom-fonts/gotham-rounded.ttf');
}

@font-face{
	font-family: Gotham Rounded Book;
/*	src: url('/custom-fonts/Gotham-Rounded-Bold.otf');*/
	src: url('/custom-fonts/gotham-rounded-book.ttf');
}

.navbar-brand {
    font-family: Gotham Rounded, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
		font-size: 50px;
}

#navbar-username {
	float: right;
}

#navbar-username-text {
	font-family: Gotham Rounded, Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 12px;
	color: #1ED760;
	float: right;
}

#navbar-username-text:hover {
	color: #1dca5a;
}

.logo-visit {
    color: #1ED760;
}

body, html {
    height:100%;
		width: 100%;
    padding:0;
    margin:0 auto;
}

.sidebar {
	height: 100vh;
}

.nav-sidebar {
	height: 100vh;
	background-color: #F0F0F0;
	text-align: left;
/*	margin-left: -15px;*/
	margin-top: 50px;
}

.sidebar-item {
	margin-bottom: -5px;
	color: #404041;
}

.sidebar-item:hover {
	color: #1ED760;
}

h1.page-header {
	margin-top: 70px;
	font-family: Gotham Rounded, Helvetica Neue, Arial, sans-serif;
	font-size: 25px;
	text-align: left;
	padding-top: 10px;
}

p {
	font-family: Gotham Rounded, Helvetica Neue, Arial, sans-serif;
	font-weight: 100;
	font-size: 15px;
}


#placeholder-btn {
	background-color: #1ED760;
	font-family: Gotham Rounded, Helvetica Neue, Arial, sans-serif;
	color: white;
	margin-bottom: 50px;
}

#placeholder-btn:hover {
	background-color: #1dca5a;
}

div.form-group {
/*	margin-top: -10px;*/
}


.no-text {
	margin-top: -25px;
}

input[type], textarea {
	background-color: #F0F0F0;
}

footer {
	position: fixed;
	bottom: 0%;
	background-color: #F4F4F4;
	width: 100%;
	border-top: solid 1px #E3E3E3;
}